[Unit]
Description=Login checker service
After=network-online.target

[Service]
ExecStart=bash /<path_to_script>/login_checker.sh

[Install]
WantedBy=multi-user.target
